{% extends 'baseF.html.twig'%} {% block title %} A propos | Logone {% endblock
%} {% block meta %}
<meta name="description" content="" />
<meta
  name="keywords"
  content="LOGONE, MARKETING DIGITAL, E-REPUTATION SEO, SEA, RELATION CLIENT, ASSITANCE VIRTUELLE, CALL CENTER, RSE"
/>
{% endblock %} {% block content %}
<style>
  .text-footer-style {
    color: #4cd3e3;
    font-weight: bold;
  }
</style>

<section class="about_area section_gap">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="main_title text-left">
            <h2 class="typo-list">
              Qui <br />
              sommes-nous ?
            </h2>
            <div style="position: relative; top: 37px">
              <p class="sample-text">
                Jeune, dynamique et animée par une grande ambition,
                <span class="text-footer-style"> LOGONE </span> est une équipe
                de personnes d'origine et de cultures différentes. Notre savoir
                réside dans notre capacité à allier
                <span class="text-footer-style">talents</span>,
                <span class="text-footer-style">nouvelles technologies</span> et
                <span class="text-footer-style">efficacité</span> afin d'offrir
                des services et des compétences adaptées aux besoins nos clients
                et partenaires.
              </p>
              <p class="sample-text">
                Ainsi notre <span class="text-footer-style">expertise</span> est
                résidée dans : la création de votre site internet,
                l'optimisation de votre visibilité Google à travers le
                référencement naturel (SEO) et référencement payant (google
                Ads), l'amélioration de votre présence sur les réseaux sociaux,
                et gestion de la relation client.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div
            class="home_right_img"
            style="position: relative; top: -60px; right: 70px"
          >
            <img
              class=""
              src="{{ asset('assetF/') }}img/logone-team-work.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area">
  <div class="container" style="text-align: center">
    <div class="main_title">
      <h2>MINDSET LOGONE</h2>
      <p>
        Chez <span class="text-footer-style"> LOGONE</span> ce qui nous
        <span class="text-footer-style"> rend unique </span> et nous
        <span class="text-footer-style">motive</span> c'est notre vision et les
        valeurs auxquelles nous sommes attachées.
      </p>
    </div>
    <div class="row" style="margin-top: -10px">
      <img
        src="{{ asset('assetF/') }}img/logone-roadmap.png"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>
<section class="about_area" style="margin-bottom: 200px; margin-top: 20px">
  <div class="container" style="text-align: center; word-wrap: break-word">
    <div class="main_title">
      <h2>les cinq piliers de notre engagement RSE</h2>
    </div>
    <div class="row" style="margin-top: -20px">
      <img
        src="{{ asset('assetF/') }}img/RSE_LOGONE.jpg"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>

<!--================ End About Us Area =================-->

<!--================Footer Area =================-->
{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
