{% extends 'baseF.html.twig'%} {% block title %} A propos | Logone {% endblock
%} {% block meta %}
<meta name="description" content="" />
<meta
  name="keywords"
  content="LOGONE, MARKETING DIGITAL, E-REPUTATION SEO, SEA, RELATION CLIENT, ASSITANCE VIRTUELLE, CALL CENTER, RSE"
/>
{% endblock %} {% block content %}
<section class="about_area section_gap">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="main_title text-left">
            <h2 class="typo-list">
              Qui <br />
              sommes nous ?
            </h2>
            <p class="sample-text">
              <span style="color: #4cd3e3; font-weight: bold">LOGONE</span> est
              une agence de communication digital qui vous accompagne dans votre
              stratégie digitale, e-réputation et l'augmentation de votre
              chiffre d'affaires. Notre expertise s'étend aux leviers majeurs
              liés au développement de votre
              <span style="color: #4cd3e3; font-weight: bold"
                >visibilité digitale</span
              >
              et à la
              <span style="color: #4cd3e3; font-weight: bold"
                >gestion de la relation client</span
              >, à savoir: la création de votre site internet, l'optimisation de
              votre visibilité Google à travers le référencement naturel (SEO)
              et référencement payant (Google Ads et Google Shopping),
              l'amélioration de votre présence sur les réseaux sociaux, et une
              assistance virtuelle de vos client.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div
            class="home_right_img"
            style="position: relative; top: -60px; right: 70px"
          >
            <img
              class=""
              src="{{ asset('assetF/') }}img/logone-team-work.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area">
  <div class="container" style="text-align: center">
    <div class="main_title">
      <h2>MINDSET LOGONE</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis vitae
        nihil eos, fugiat necessitatibus aut. Minus porro, reiciendis
        praesentium nisi tenetur sed inventore dicta fugiat optio enim laborum
        expedita ullam illum perspiciatis itaque sint cum, quaerat unde delectus
        obcaecati.
      </p>
    </div>
    <div class="row" style="margin-top: -10px">
      <img
        src="{{ asset('assetF/') }}img/logone-roadmap.png"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>
<section class="about_area" style="margin-bottom: 200px; margin-top: 20px">
  <div class="container" style="text-align: center; word-wrap: break-word">
    <div class="main_title">
      <h2>les cinq piliers de notre engagement RSE</h2>
    </div>
    <div class="row" style="margin-top: -20px">
      <img
        src="{{ asset('assetF/') }}img/RSE_LOGONE.jpg"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>
<script src="https://www.google.com/recaptcha/api.js?render=6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe", {
        action: "homepage",
      })
      .then(function (token) {
        document.getElementById("user_captcha").value = token;
      });
  });
</script>
<!--================ End About Us Area =================-->

<!--================Footer Area =================-->
{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
