{% extends 'baseF.html.twig'%} {% block title %} Mentions Légales | Logone {%
endblock %} {% block content %} {% block bodyClass %} blog_version{% endblock %}
<style>
  .text-footer-style {
    color: #4cd3e3;
    font-weight: bold;
  }
</style>
<section class="sample-text-area">
  <div class="container">
    <h3
      class="text-heading title_color"
      style="margin-top: 30px; text-transform: uppercase; font-size: 40px"
    >
      MENTIONS LÉGALES, CONDITIONS GÉNÉRALES D’UTILISATION & CONFIDENTIALITÉ DE
      <span style="font-weight: bold; color: #4cd3e3">LOGONE</span>
    </h3>

    <h3 class="text-heading title_color" style="margin-top: 30px">
      MENTIONS LÉGALES
    </h3>
    <p class="text-sample">
      <span class="text-footer-style">LOGONE</span> est une agence de
      communication digital spécialisée en
      <span class="text-footer-style"> Création de Site Internet</span>,
      <span class="text-footer-style">Référencement Naturel</span>,
      <span class="text-footer-style">Google Ads</span>,
      <span class="text-footer-style">Publicité sur les Réseaux Sociaux</span>,
      et <span class="text-footer-style">Gestion de Relation Client</span>. Nous
      sommes basés à Tunis. Nous aidons les entreprises à améliorer leur
      notoriété, acquérir de nouveaux clients, générer de nouvelles ventes grâce
      à internet et améliorer l'expérience client au sein de leur entreprise.
      <br />
      Les directeurs de publication du site www.logone-digital.com sont Emmanuel
      Benjamin et Daniel Takolo.
    </p>
    <ul class="unordered-list">
      <h3 class="mb-20 title_color">INFOS LOGONE</h3>
      <li>RAISON SOCIAL : LOGONE SARL</li>
      <li>ADRESSE : Rue Mohamed Badra, Montplaisir Tunis 1073</li>
      <li>GERANT : EMMANUEL BENJAMIN</li>
      <li>RCS TUNIS : B011285072021</li>
      <li>SECTEUR D'ACTIVITE : MARKETING DIGITA & RELATION CLIENT</li>
      <li>TELEPHONE: +216 52 73 93 85</li>
      <li>EMAIL : contact@logone-digital.com.fr</li>
    </ul>
    <ul class="unordered-list" style="margin-top: 30px">
      <h3 class="mb-20 title_color">HEBERGEUR</h3>
      <li>IONOS SARL</li>
      <li>
        ADRESSE : 7, place de la Gare, BP 70109, 57200 Sarreguemines Cedex,
      </li>
      <li>RCS TUNIS : B011285072021</li>
      <li>TELEPHONE: +33 0970 808 911</li>
      <li>EMAIL : info@IONOS.fr</li>
    </ul>

    <h3 class="text-heading title_color" style="margin-top: 30px">
      CONDITIONS GÉNÉRALES D’UTILISATION
    </h3>
    <h4>Préambule</h4>
    <p class="sample-text">
      Toutes les présentes conditions s’appliquent pour l’ensemble du site
      www.logone-digital.com, incluant les sous-domaines et autres noms de
      domaine appartenant à <span class="text-footer-style">LOGONE</span>.
    </p>
    <h4>Conditions de reprise de contenus du site</h4>
    <p class="sample-text">
      Tout contenu, images, logos, noms de domaines, articles, associés au nom
      de marque logone-digital.com appartient à la société
      <span class="text-footer-style">LOGONE</span> et est protégé par les lois
      en vigueur relatives à la propriété intellectuelle. La reprise de ces
      contenus doit faire l’objet d’une autorisation de la société
      <span class="text-footer-style">LOGONE</span>. Aucune élément graphique,
      image, texte, composant le site internet www.logone-digital.com ne peut
      être repris et utilisé sur un autre support que www.logone-digital.com de
      manière partielle ou intégrale, sans autorisation écrite de la société
      <span class="text-footer-style">LOGONE</span>.
    </p>
    <h4>Liens hypertextes et référencement naturel</h4>
    <p class="sample-text">
      Notre équipe d’experts SEO veillent chaque jour à ce que les liens
      hypertextes postés sur notre site internet et dans nos articles de blog
      fonctionnent et dirigent correctement vers leur page de destination.
      Cependant, si vous remarquez des liens cassés, n’hésitez pas à nous le
      faire remarquer en nous envoyant un e-mail à cette adresse :
      contact@logone-digital.fr Toute stratégie de netlinking abusive visant à
      diriger des liens hypertextes de mauvaise qualité vers les sites de
      <span class="text-footer-style">www.logone-digital.com</span>
      est passive de poursuite judiciaire de notre part.
    </p>

    <p class="sample-text">
      Les directeurs de publication de
      <span class="text-footer-style">LOGONE</span>’ne peuvent être tenus pour
      responsable d’un préjudice né de l’interprétation d’une information
      pouvant figurer sur le site www.logone-digital.com
    </p>
    <h3 class="text-heading title_color" style="margin-top: 30px">
      CONDITIONS GÉNÉRALES D’UTILISATION
    </h3>
    <h4 style="text-transform: uppercase">Préambule</h4>
    <p class="sample-text">
      Toutes les présentes conditions s’appliquent pour l’ensemble du site
      www.logone-digital.com, incluant les sous-domaines et autres noms de
      domaine appartenant à l’<span class="text-footer-style">LOGONE</span>.
    </p>
    <h4>Conditions de reprise de contenus du site</h4>
    <p class="sample-text">
      Tout contenu, images, logos, noms de domaines, articles, associés au nom
      de marque logone-digital.com appartient à la société
      <span class="text-footer-style">LOGONE</span> et est protégé par les lois
      en vigueur relatives à la propriété intellectuelle. La reprise de ces
      contenus doit faire l’objet d’une autorisation de la société
      <span class="text-footer-style">LOGONE</span>. Aucune élément graphique,
      image, texte, composant le site internet www.logone-digital.com ne peut
      être repris et utilisé sur un autre support que www.logone-digital.com de
      manière partielle ou intégrale, sans autorisation écrite de la société
      <span class="text-footer-style">LOGONE</span>.
    </p>
    <h4>Liens hypertextes et référencement naturel</h4>
    <p class="sample-text">
      Notre équipe d’experts SEO veillent chaque jour à ce que les liens
      hypertextes postés sur notre site internet et dans nos articles de blog
      fonctionnent et dirigent correctement vers leur page de destination.
      Cependant, si vous remarquez des liens cassés, n’hésitez pas à nous le
      faire remarquer en nous envoyant un e-mail à cette adresse :
      contact@logone-digital.com Toute stratégie de netlinking abusive visant à
      diriger des liens hypertextes de mauvaise qualité vers les sites de
      l’<span class="text-footer-style">LOGONE</span>
      est passive de poursuite judiciaire de notre part.
    </p>
    <h4>Responsabilité</h4>
    <p class="sample-text">
      Les directeurs de publication de l
      <span class="text-footer-style">LOGONE</span>’ne peuvent être tenus pour
      responsable d’un préjudice né de l’interprétation d’une information
      pouvant figurer sur le site www.logone-digital.com
    </p>
    <h3 class="text-heading title_color" style="margin-top: 30px">
      POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
    </h3>
    <h4>Commentaires</h4>
    <p class="sample-text">
      Lorsque vous déposez un commentaire sur notre site web à la suite d’un
      article de blog, votre adresse IP, navigateur internet et données
      inscrites dans votre commentaire sont automatiquement collectées afin de
      nous permettre de filtrer les commentaires indésirables.
    </p>
    <h4>Formulaires</h4>
    <p class="sample-text">
      Lorsque vous entrez en contact avec
      <span class="text-footer-style">LOGONE</span>’via les formulaires de
      contact et de demande de devis présents sur les pages de notre site
      internet, nous collectons les informations inscrites dans les champs de ce
      formulaire de contact, à savoir : votre nom, prénom, site internet, numéro
      de téléphone, et le message renseigné. Ces données sont conservées dans
      des fichiers informatisés afin d’entrer en contact plus facilement avec
      nos clients et prospects. Nous ne partageons par ces données avec des
      supports extérieurs à<span class="text-footer-style">LOGONE</span>.
    </p>
    <h4>Cookies</h4>
    <p class="sample-text">
      Nous utilisons Google Analytics afin de mesurer et analyser l’audience et
      le trafic de notre site internet. Cet outil Analytics installe un cookie
      sur le navigateur internet de nos visiteurs afin de collecter les données
      géographiques et de navigation sur le site www.logone-digital.com Nous
      vous conseillons de consulter
      <a href="https://www.google.com/analytics/terms/fr.html">
        les Conditions d’Utilisation de Google Analytics.</a
      >
    </p>
  </div>
</section>

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
