{% extends 'baseF.html.twig'%} {% block title %} Mentions Légales | Logone {%
endblock %} {% block content %} {% block bodyClass %} blog_version{% endblock %}
<section class="sample-text-area">
  <div class="container">
    <h3
      class="text-heading title_color"
      style="margin-top: 30px; text-transform: uppercase; font-size: 40px"
    >
      MENTIONS LÉGALES, CONDITIONS GÉNÉRALES D’UTILISATION & CONFIDENTIALITÉ DE
      LOGONE
    </h3>

    <h3 class="text-heading title_color" style="margin-top: 30px">
      MENTIONS LÉGALES
    </h3>
    <p class="text-sample">
      L’Agence 90 est une agence de marketing digital spécialisée en
      Référencement Naturel, Publicité Amazon, Google Ads, Publicité sur les
      Réseaux Sociaux, Création de Site Internet et Formations au webmarketing.
      Nous sommes basés à Charleville-Mézières dans les Ardennes. Nous aidons
      les entreprises à améliorer leur notoriété, acquérir de nouveaux clients
      et générer de nouvelles ventes grâce à internet. <br />
      Les directeurs de publication du site www.agence90.fr sont Gwendoline ENTE
      et Gauthier CAIZERGUES.
    </p>
    <ul class="unordered-list">
      <li>Fta Keys</li>
      <li>For Women Only Your Computer Usage</li>
      <li>Facts Why Inkjet Printing Is Very Appealing</li>
      <li>Dealing With Technical Support 10 Useful Tips</li>
      <li>Make Myspace Your Best Designed Space</li>
      <li>Cleaning And Organizing Your Computer</li>
    </ul>

    <h3 class="text-heading title_color" style="margin-top: 30px">
      CONDITIONS GÉNÉRALES D’UTILISATION
    </h3>
    <h4>Préambule</h4>
    <p class="sample-text">
      Toutes les présentes conditions s’appliquent pour l’ensemble du site
      www.agence90.fr, incluant les sous-domaines et autres noms de domaine
      appartenant à l’Agence 90.
    </p>
    <h4>Conditions de reprise de contenus du site</h4>
    <p class="sample-text">
      Tout contenu, images, logos, noms de domaines, articles, associés au nom
      de marque agence90.fr appartient à la société AGENCE 90 et est protégé par
      les lois en vigueur relatives à la propriété intellectuelle. La reprise de
      ces contenus doit faire l’objet d’une autorisation de la société AGENCE
      90. Aucune élément graphique, image, texte, composant le site internet
      www.agence90.fr ne peut être repris et utilisé sur un autre support que
      www.agence90.fr de manière partielle ou intégrale, sans autorisation
      écrite de la société AGENCE 90.
    </p>
    <h4>Liens hypertextes et référencement naturel</h4>
    <p class="sample-text">
      Notre équipe d’experts SEO veillent chaque jour à ce que les liens
      hypertextes postés sur notre site internet et dans nos articles de blog
      fonctionnent et dirigent correctement vers leur page de destination.
      Cependant, si vous remarquez des liens cassés, n’hésitez pas à nous le
      faire remarquer en nous envoyant un e-mail à cette adresse :
      contact@agence90.fr Toute stratégie de netlinking abusive visant à diriger
      des liens hypertextes de mauvaise qualité vers les sites de l’AGENCE 90
      est passive de poursuite judiciaire de notre part.
    </p>

    <p class="sample-text">
      Les directeurs de publication de l’Agence 90 ne peuvent être tenus pour
      responsable d’un préjudice né de l’interprétation d’une information
      pouvant figurer sur le site www.agence90.fr
    </p>
    <h3 class="text-heading title_color" style="margin-top: 30px">
      CONDITIONS GÉNÉRALES D’UTILISATION
    </h3>
    <h4 style="text-transform: uppercase">Préambule</h4>
    <p class="sample-text">
      Toutes les présentes conditions s’appliquent pour l’ensemble du site
      www.agence90.fr, incluant les sous-domaines et autres noms de domaine
      appartenant à l’Agence 90.
    </p>
    <h4>Conditions de reprise de contenus du site</h4>
    <p class="sample-text">
      Tout contenu, images, logos, noms de domaines, articles, associés au nom
      de marque agence90.fr appartient à la société AGENCE 90 et est protégé par
      les lois en vigueur relatives à la propriété intellectuelle. La reprise de
      ces contenus doit faire l’objet d’une autorisation de la société AGENCE
      90. Aucune élément graphique, image, texte, composant le site internet
      www.agence90.fr ne peut être repris et utilisé sur un autre support que
      www.agence90.fr de manière partielle ou intégrale, sans autorisation
      écrite de la société AGENCE 90.
    </p>
    <h4>Liens hypertextes et référencement naturel</h4>
    <p class="sample-text">
      Notre équipe d’experts SEO veillent chaque jour à ce que les liens
      hypertextes postés sur notre site internet et dans nos articles de blog
      fonctionnent et dirigent correctement vers leur page de destination.
      Cependant, si vous remarquez des liens cassés, n’hésitez pas à nous le
      faire remarquer en nous envoyant un e-mail à cette adresse :
      contact@agence90.fr Toute stratégie de netlinking abusive visant à diriger
      des liens hypertextes de mauvaise qualité vers les sites de l’AGENCE 90
      est passive de poursuite judiciaire de notre part.
    </p>
    <h4>Responsabilité</h4>
    <p class="sample-text">
      Les directeurs de publication de l’Agence 90 ne peuvent être tenus pour
      responsable d’un préjudice né de l’interprétation d’une information
      pouvant figurer sur le site www.agence90.fr
    </p>
    <h3 class="text-heading title_color" style="margin-top: 30px">
      POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
    </h3>
    <h4>Commentaires</h4>
    <p class="sample-text">
      Lorsque vous déposez un commentaire sur notre site web à la suite d’un
      article de blog, votre adresse IP, navigateur internet et données
      inscrites dans votre commentaire sont automatiquement collectées afin de
      nous permettre de filtrer les commentaires indésirables.
    </p>
    <h4>Formulaires</h4>
    <p class="sample-text">
      Lorsque vous entrez en contact avec l’AGENCE 90 via les formulaires de
      contact présents sur les pages de notre site internet, nous collectons les
      informations inscrites dans les champs de ce formulaire de contact, à
      savoir : votre nom, prénom, site internet, numéro de téléphone, et le
      message renseigné. Ces données sont conservées dans des fichiers
      informatisés afin d’entrer en contact plus facilement avec nos clients et
      prospects. Nous ne partageons par ces données avec des supports extérieurs
      à l’AGENCE 90.
    </p>
    <h4>Cookies</h4>
    <p class="sample-text">
      Nous utilisons Google Analytics afin de mesurer et analyser l’audience et
      le trafic de notre site internet. Cet outil Analytics installe un cookie
      sur le navigateur internet de nos visiteurs afin de collecter les données
      géographiques et de navigation sur le site www.agence90.fr Nous vous
      conseillons de consulter
      <a href="https://www.google.com/analytics/terms/fr.html">
        les Conditions d’Utilisation de Google Analytics.</a
      >
    </p>
  </div>
</section>

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
