{% extends 'baseF.html.twig'%} {% block title %} Contact | Logone {% endblock %}
{% block content %}

<section class="contact_area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1>Créer un nouveau mot de passe</h1>
        <div class="col-lg-9">
          <form
            class="row contact_form"
            method="post"
            id="contactForm"
            novalidate="novalidate"
          >
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Enter votre nouveau mot de passe"
                />
              <div class="form-group">
                <input
                  type="hidden"
                  class="form-control"
                  id="subject"
                  name="token"
                  value="{{token}}"
                />
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="submit" value="submit" class="primary_btn">
                <span>Valider</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
