{% extends 'baseF.html.twig'%} {% block title %} Contact | Logone {% endblock %}
{% block content %}

<section class="contact_area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1>Je candidates</h1>
        {{ form_start(form) }}
        <div class="row" id="contactForm" novalidate="novalidate">
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_row(form.email, {
                    'label':false,
                    'attr':{'placeholder':"Email",
                    'class':'form-control',
                    }
                }) }}
            </div>
            <div class="form-group">
              {{ form_row(form.cvFile, {
                'label':false,
             }) }}
            </div>
          </div>

          <div class="col-lg-12">
            <button type="submit" value="submit" class="primary_btn">
              <span>Postuler</span>
            </button>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
