	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Mes Informations</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						{{ form_start(form,{'action':url }) }}
						<div class="modal-body">
							<div class="form-group">
								<label for="email">Email</label>
								{{ form_widget(form.email,{'attr': {'placeholder': 'Email'}}) }}
							</div>
							<div class="form-group">
								<label for="file">Upload CV</label>
								{{ form_widget(form.cvFile) }}
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Apply</button>
						</div>
						{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>