                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website <script>document.write(new Date().getFullYear());</script></span>
                    </div>
                </div>
            </footer>