{% extends 'baseF.html.twig'%}
{% block title %} erro404 {% endblock %}
{% block content %}


    <section class="contact_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-lg-12 ">
                    <p> cette page n'existe pas</p>
                    <p>Error Message: {{status_text}}</p>
                    <p>Error Code: {{status_code}}</p>
                    <p>{{exception.message}}</p>
                    <p>Go back to Home Page {{path('home')}} </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}