{% extends 'baseF.html.twig'%} {% block title %} Page Not Found | Logone {%
endblock %} {% block content %}

<section class="contact_area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1>Oups cette page n'existe pas!</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}
