
{% extends 'baseF.html.twig'%}
{% block title %} Offre d'emploi | Logone {% endblock %}
{% block content %}

	{% include('include/frontoffice/header.html.twig')%}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Apply for a job</h2>
                    <div class="page_link">
                        <a href="{{ path('home') }}">Accueil</a>
                        <a href="{{ path('front_offre_list') }}">Offre d'emploi</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    
    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                </div>
            </div>
        </div>
    </section>
    {{include('include/frontoffice/footer.html.twig')}}
	{% endblock %}