<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <h1>
      Veuillez cliquez sur le lien suivant pour reinitialiser votre mot de passe
      <a href="{{ absolute_url(path('app_reset_password', { token: token })) }}"
        >ici</a
      >
    </h1>
  </body>
</html>
